version: '3.8'

services:
  app:
    build:
      context: ./docker
      dockerfile: Dockerfile
    container_name: promo-data-test-app
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - laravel

  nginx:
    image: nginx:alpine
    container_name: promo-data-test-nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
    networks:
      - laravel

  postgres:
    image: postgres:16-alpine
    container_name: promo-data-test-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - laravel

  # Контейнер для билда js, чтобы не пробрасывать его в php контейнер
  node-build:
    image: node:20-alpine
    container_name: promo-data-test-node-build
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    command: sh -c "npm ci || npm install && npm run build || vite build"
    restart: "no"

  node-dev:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "5173:5173"
    command: [ "npm", "run", "dev", "--", "--host", "0.0.0.0" ]

networks:
  laravel:
    driver: bridge

volumes:
  postgres_data: